@font-face { 
    font-family: Manifesto; 
    src: url('../fonts/manifesto.ttf'); 
} 

@font-face { 
    font-family: Droid; 
    src: url('../fonts/DroidSerif-Regular.ttf'); 
} 

html {
    background-image: url("../images/grid.png");
}

body {
    color: black;
    margin: 0px auto 0px auto;
    width: 1000px;
    background-color: rgb(252,244,220);
    height: 100%;
    padding: 0px 12px 0px 12px;
    position: relative;

    font-size: 125%;
    font-family: 'Droid', serif;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 12px 12px 12px;
    font-family: Manifesto;
    font-size: 25px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    /*border-top: solid 2px black;*/
    color: #555;
    font-size: 12px;
    margin-top: 10px;
    padding: 12px 0px 12px 0px;
    text-align: center;
    width: 1000px;
}

h1 {
    font-size: 50px;
    font-family: Manifesto;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-family: 'Droid', serif;
    font-weight: 700;
    text-align: left;
}

div.info {
    color: #555;
    font-size: 18px;
    font-style: italic;
}

.postinfo {
    color: rgb(150, 150, 150);
    font-size: 80%;
    font-family: 'Droid', serif;
    font-weight: 200;
}

.postinfo-url {
    margin-top: -15px;
    font-size: 120%;
}

.post-preview {
    min-height: 100px;
    overflow:auto;
}

.postdesc {
    text-align: justify;
}

.post-preview-img {
    margin: 12px;
}

.post-body {    
    font-weight: 500;
    font-size: 125%;
    text-align: justify;
}